import(spatstat)
import(stlnpp)
import(parallel)
export(STLKinhom_local)
export(STLginhom_local)
export(sim_ETASnet)
export(sim_LGCPnet)
export(test_local)

importFrom("stats", "bw.nrd0", "dist", "na.omit", "rexp", "rnorm",
             "rpois", "runif")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")


